{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        <h1>Bootstrap(ious) 4 Boilerplate</h1>
        <p>Este es un contenido de muestra.</p>
        <div class="jumbotron">
          <h1>Fregadero</h1>
          <p>Una vista previa rápida de todo lo que Bootstrap tiene para ofrecer.</p>
          <p><a class="btn btn-primary btn-large" href="#">Aprende más »</a> <a class="btn btn-outline-primary btn-large" href="#">Aprende más »</a></p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-4" id="headings">
              <div class="card-header">Encabezados</div>
              <div class="card-body">
                <h1 class="page-header">Encabezado de página<small>con texto pequeño</small></h1>
                <h1>Este es un encabezado h1</h1>
                <h2>Este es un encabezado h2</h2>
                <h3>Este es un encabezado h3</h3>
                <h4>Este es un encabezado h4</h4>
                <h5>Este es un encabezado h5</h5>
                <h6>Este es un encabezado h6</h6>
              </div>
            </div>
            <div class="card mb-4" id="tables">
              <div class="card-header">Mesas</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Primer nombre</th>
                      <th>Mesas</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Michael</td>
                      <td>Están formateados así</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Lucille</td>
                      <td>¿Te gustan ellos?</td>
                    </tr>
                    <tr class="success">
                      <td>3</td>
                      <td>Éxito</td>
                      <td></td>
                    </tr>
                    <tr class="danger">
                      <td>4</td>
                      <td>Peligro</td>
                      <td></td>
                    </tr>
                    <tr class="warning">
                      <td>5</td>
                      <td>Advertencia</td>
                      <td></td>
                    </tr>
                    <tr class="active">
                      <td>6</td>
                      <td>Activo</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-striped table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Primer nombre</th>
                      <th>Mesas</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Michael</td>
                      <td>Este está bordeado y condensado.</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Lucille</td>
                      <td>¿Todavía te gusta?</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-4" id="content-formatting">
              <div class="card-header">Content Formatting</div>
              <div class="card-body">
                <p class="lead">Este es un párrafo principal.</p>
                <p>This is an <b>párrafo ordinario</b> es decir <i>Tiempo suficiente</i> para envolver a 
                  <u>varias lineas</u> para que pueda ver cómo se ve el espacio entre líneas.
                </p>
                <p class="text-muted">Párrafo de color apagado.</p>
                <p class="text-warning">Párrafo de color de advertencia.</p>
                <p class="text-danger">Párrafo de color de peligro.</p>
                <p class="text-info">Párrafo de color de información.</p>
                <p class="text-primary">Párrafo de color primario.</p>
                <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled"><span class="page-link">Previo</span></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><span class="page-link">2<span class="sr-only">(Actual)</span></span></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
                  </ul>
                </nav>
                <p><small>Este es un texto en un <code>pequeño</code> envoltura. <abbr title="No Big Deal">NBD</abbr>, derecho?</small></p>
                <hr>
                <address><strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br><abbr title="Phone">P:</abbr> (123) 456-7890</address>
                <address class="col-6"><strong>Nombre completo</strong><br><a href="mailto:#">first.last@example.com</a></address>
                <hr>
                <blockquote>Así es como se ve una cita en bloque en Bootstrap.<small>Use <code>pequeño</code> para identificar la fuente.</small></blockquote>
                <hr>
                <div class="row">
                  <div class="col-xs-6">
                    <ul>
                      <li>Lista desordenada normal</li>
                      <li>también puede funcionar
                        <ul>
                          <li>Con niños anidados</li>
                        </ul>
                      </li>
                      <li>Agrega viñetas a la página</li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <ol>
                      <li>Normal Ordered List</li>
                      <li>Can Also Work
                        <ol>
                          <li>With Nested Children</li>
                        </ol>
                      </li>
                      <li>Adds Bullets to Page</li>
                    </ol>
                  </div>
                </div>
                <hr>
                <pre>\nfunction preFormatting() {  // looks like this;  var something = somethingElse;  return true;}                        </pre>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4" id="forms">
          <div class="card-header">formularios</div>
          <div class="card-body">
            <form>
              <fieldset>
                <legend>Leyenda</legend>
                <div class="form-group">
                  <label for="exampleInputEmail">Dirección de correo electrónico</label>
                  <input class="form-control" id="exampleInputEmail" type="text" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Contraseña</label>
                  <input class="form-control" id="exampleInputPassword" type="password" placeholder="Password">
                </div>
                <div class="form-check form-group">
                  <input class="form-check-input" id="checkbox-1" type="checkbox">
                  <label class="form-check-label" for="checkbox-1">Me echa un vistazo</label>
                </div>
                <button class="btn btn-primary" type="submit">Entregar</button>
              </fieldset>
            </form>
            <hr class="my-5">
            <form class="form-inline">
              <input class="form-control mb-2 mr-sm-2" type="text" placeholder="Email">
              <label class="sr-only" for="inlineFormInputGroupUsername2">Nombre de usuario</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input class="form-control" id="inlineFormInputGroupUsername2" type="text">
              </div>
              <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" id="inlineFormCheck" type="checkbox">
                <label class="form-check-label" for="inlineFormCheck">Remember me</label>
              </div>
              <button class="btn btn-primary mb-2" type="submit">Entregar</button>
            </form>
            <hr class="my-5">
            <h4 class="mb-5">forma horizontal</h4>
            <form>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="inputEmail3">Email</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputEmail3" type="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="inputPassword3">Contraseña</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputPassword3" type="password" placeholder="Password">
                </div>
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" id="gridRadios1" type="radio" name="gridRadios" value="option1" checked="">
                      <label class="form-check-label" for="gridRadios1">Primera radio</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="gridRadios2" type="radio" name="gridRadios" value="option2">
                      <label class="form-check-label" for="gridRadios2">Segunda radio</label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" id="gridRadios3" type="radio" name="gridRadios" value="option3" disabled="">
                      <label class="form-check-label" for="gridRadios3">Tercera radio deshabilitada</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <div class="col-sm-2">Caja</div>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" id="gridCheck1" type="checkbox">
                    <label class="form-check-label" for="gridCheck1">Ejemplo de casilla de verificación</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">                                   
                <div class="col-sm-2">Casilla de verificación personalizada</div>
                <div class="col-sm-10">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                    <label class="custom-control-label" for="customCheck1">Marque esta casilla de verificación personalizada</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">                                   
                <div class="col-sm-2">Radio personalizada</div>
                <div class="col-sm-10">
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio">
                    <label class="custom-control-label" for="customRadio1">Alternar esta radio personalizada</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio">
                    <label class="custom-control-label" for="customRadio2">O cambia esta otra radio personalizada</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button class="btn btn-primary" type="submit">Registrarse</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-4" id="buttons">
          <div class="card-header">Botones</div>
          <div class="card-body">
            <p>
              <button class="btn btn-lg btn-secondary" type="button">LG por defecto</button>
              <button class="btn btn-lg btn-primary" type="button">Primario</button>
              <button class="btn btn-lg btn-success" type="button">Éxito</button>
              <button class="btn btn-lg btn-info" type="button">Info</button>
              <button class="btn btn-lg btn-warning" type="button">Advertencia</button>
              <button class="btn btn-lg btn-danger" type="button">Peligro</button>
              <button class="btn btn-lg btn-link" type="button">Enlace</button>
            </p>
            <p>
              <button class="btn btn-secondary" type="button">Por defecto </button>
              <button class="btn btn-primary" type="button">Primario</button>
              <button class="btn btn-success" type="button">Éxito</button>
              <button class="btn btn-info" type="button">Info</button>
              <button class="btn btn-warning" type="button">Advertencia</button>
              <button class="btn btn-danger" type="button">Peligro</button>
              <button class="btn btn-link" type="button">Enlace</button>
            </p>
            <p>
              <button class="btn btn-sm btn-secondary" type="button">SM por defecto</button>
              <button class="btn btn-sm btn-primary" type="button">Primario</button>
              <button class="btn btn-sm btn-success" type="button">Éxito</button>
              <button class="btn btn-sm btn-info" type="button">Info</button>
              <button class="btn btn-sm btn-warning" type="button">Advertencia</button>
              <button class="btn btn-sm btn-danger" type="button">Peligro</button>
              <button class="btn btn-sm btn-link" type="button">Enlace</button>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Botón desplegable</div>
          <div class="card-body">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">botón desplegable</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Otra acción</a><a class="dropdown-item" href="#">algo mas aqui</a></div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}